body
{
    z-index:0;
    background-color: #FFC98F;
    font-size: 18px;
    /*background-color: #FFC98F;*/
    width: 98.85vw;
    min-width: 1100px;
    min-height: 95vh;
    /*border: solid #000 1px;*/
    margin-top: -1px; 
    margin-left: -1px;
}

#menu
{
    z-index:1;
    background-color: #FFa74c;
    border: solid #000 1px;
    border-right: 0px;
    /*border-top:0px;*/
    height: 60px;
    width: 99.87%;
    box-shadow: 0px 5px 10px  #444;
}

#leweMenu
{
    float: left;
    max-width: 220px;
}

#central
{
    z-index:0;
    background-color: #FFFFcc;
    /*border: solid #000 1px;*/
    /*border-top: 0px;*/
    min-height: 850px;
    width: 80%;
    min-width: 800px;
    float: right;
    /*margin-top: -60px;*/ 
/*    margin-left: auto;
    margin-right: auto;*/
    box-shadow: 0px 5px 10px 0px #444;
}

#tytul
{
    border-style: double;
    border-right-width: 20px;
    border-bottom-width: 6px;
    border-top: 0px;
    border-left: 0px;
    width: 30%;
    height: 40px;
    min-width: 130px;
    border-bottom-right-radius: 85px;
    padding-left: 70px;
    padding-top: 10px;
    font-size: 30px;
    font-family: Tekton Pro Ext;
    box-shadow: 3px -2px 8px 0px #444;
    /*float: left;*/
}

#tab_info
{
    width: 250px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    border-radius: 10px;
    color: black;
    border: 2px ridge grey;
}

/*tr:nth-child(2n) {
	background-color: #FFFFcc;
}
tr:nth-child(2n+1) {
	background-color: #FFFFbb;
}*/

th
{
    background-color: #FFFFbb;
}

#view
{
    font-family: times new roman;
    font-size: 20px;
}

#nowyElemntTab
{
    width:90%;
    margin-left: auto ;
    margin-right: auto ;
}

#magazynTab 
{
    width:60%;
    margin-left: auto ;
    margin-right: auto ;
}

/*#menuButt
{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}*/

#elMen
{
    border-bottom-right-radius: 10px;
    background-image: url(button.png);
    background-size:initial;
    height:60px;
    width:200px;
}

#tytMenu
{
    margin-left: 15%;
    margin-top: 15px;
    position: static; 
}

#zapiszBtn
{
    background-color: #FFa74c;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    margin-left: 30px ;
    margin-bottom: 20px;
}

#zlecTab
{
    width:50%;
    margin-left: auto ;
    margin-right: auto ;
}

#alert
{
    padding-left: 5px;
    min-height: 200px;
    max-height: 600px;
    width: 220px;
    margin-left: 10px;
    background-color: #f7f085;
    box-shadow: -2px 5px 5px #777;
}

#pinezka
{
    width: 40px;
    height: 40px;
    margin-left: 80px ;
}

#alertW
{
    width: 30px;
    height: 30px;
}

#butt
{
    width: 50px;
    height: 50px;
    padding-top: 10px ;
    padding-left: 10px;
}

#dostawaBtn
{
    background-color: #009900;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    margin-left: 10px ;
    margin-top: 25px;
}

#nowyBtn
{
    background-color: #cccccc;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    margin-left: 10px ;
    margin-top: 25px;
}

#rozchodBtn
{
    background-color: #ee0000;
    font-weight: bold;
    height: 40px;
    width: 140px;
    border-radius: 15px;
    margin-left: 10px ;
    margin-top: 25px;
}

#usunBtn
{
    background-color: #ff3300;
    font-weight: bold;
    height: 22px;
    width: 50px;
    border-radius: 15px;
}

#divalert
{
    background-color: #80ff80;
    height: 30px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding-left: 30px;
    padding-top: 10px;
    visibility: hidden;
}